.saved-page {
  min-height: 100vh;
background: linear-gradient(180deg, #072c16, #0b1d13);
  padding: 40px 20px;
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.saved-page h2 {
  font-size: 2rem;
  color: #4ef37b;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 600;
}

.saved-list {
  display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;  justify-content: center;
  gap: 24px;
  width: 100%;
  max-width: 1200px;
}

.saved-list p {
  color: #aaa;
  text-align:left;
  background-color: #333232;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}
.date{
background-color: transparent !important;
margin-top: 20px !important;
}
/* Scroll animation for cards */
.save-card {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 0.6s ease forwards;
  background-color: #1f1e1e;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Mobile view */
@media (max-width: 768px) {
  .saved-page {
    margin-top: 100px;
    padding: 30px 10px;
  }

  .saved-page h2 {
    font-size: 1.6rem;
    margin-bottom: 16px;
  }

  .saved-list {
    gap: 16px;
    display: grid;
grid-template-columns: 1fr;
  }
}
